#Wed, 17 Apr 2013 10:46:33 +0800
app.name=CyBox

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=b15a78f2-537a-4183-835e-07fac4a17f74
